extends ../layout

block content
  header 
    <form action="/logout?_method=DELETE" method="POST" style="text-align: right">
    <button type="submit">Wyloguj</button>
    </form>
  h1= title 
  p
      <input class=btn type='button' value='Zarejestruj uźytkownika' onClick=self.location.href=('http://localhost:3000/admin/add')>
 
  p Lista użytkowników:

  table
    tr
      th ID
      th IMIE
      th EMAIL
      th
    each item, index in data
      tr
        td=index+1
        td=item.userName
        td=item.email
        td
          a(href=`/admin/delete/${item._id}` class="button") Usuń