extends ../layout

block content
  header 
    <form action="/logout?_method=DELETE" method="POST" style="text-align: right">
    <button type="submit">Wyloguj</button>
    </form>
  h1= title 
  p
      <input class=btn type='button' value='Rejestracja uźytkownika' onClick=self.location.href=('https://recepcja.herokuapp.com/admin/add')>
 
  p Lista użytkowników

  table
    tr
      th ID
      th IMIE
      th EMAIL
      th DATA REJESTRACJI
      th
    each item, index in data
      tr
        td=index+1
        td=item.userName
        td=item.email
        td=item.date.toDateString()
        td
          a.id(href=`/admin/delete/${item._id}` class="button") Usuń