<!DOCTYPE html>
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    

    <script src="https://kit.fontawesome.com/496f611049.js" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    nav
      ul
        li
          a(href="/" class=path == "/" ? 'active' : '') Strona Główna
      ul
        li
          a(href="/guests" class=path == "/guests" ? 'active' : '') Goście
      ul
        li
          a(href="/reminders" class=path == "/reminders" ? 'active' : '') Przypomnienia
      ul
        li
          a(href="/users" class=path == "/users" ? 'active' : '') Użytkownik
      ul
        li
          a(href="/login" class=path == "/login" ? 'active' : '') Logowanie
    block content
