extends layout

block content
  h1= title

  if errors.errors !== undefined
    each message in errors.errors
      p=message
  
  form(method='post')
    p
      input.btn2(type='text' name='title' placeholder='Wprowadź przypomnienie...' value=body.title || '')
    p
      input.btn(type='submit' value='Zapisz') 
  
  table
    tr
      th ID
      th TYTUŁ
      th 
    each item, index in data
      tr
        td=index + 1
        td=item.title 
        td
          a.id(href=`/reminders/delete/${item._id}` class="button") Usuń