extends ../layout

block content
  h1= title

  if errors.errors !== undefined
    each message in errors.errors
      p=message
      

  form(method='post')
    p 
      label Imię:
      input(type='text' name='guestsName' value=body.guestsName placeholder='Wprowadź imie...' || '')
    p 
      label Nazwisko:
      input(type='text' name='guestsSurname' value=body.guestsSurname placeholder='Wprowadź nawzwisko...' || '')

    p 
      label Nazwa firmy:
      input(type='text' name='companyName' value=body.companyName placeholder='Wprowadź firmę..' || '')

    p 
      label Godzina wejścia:
      input(type='time' name='hourOfComing' value=body.hourOfComing || '')

    p 
      label Godzina wyjścia:
      input(type='time' name='hourOfDeparture' value=body.hourOfDeparture || '')
    p 
      label Data:
      input(type='date' name='dateOfComing' value=body.dateOfComing || '')
    p  
      label Cel:
      textarea(name='purpose' placeholder='Wprowadź cel odwiedzin...')

    p
      input.btn(type='submit' value='Zapisz')
  