extends ../layout

block content
  header 
    <form action="/logout?_method=DELETE" method="POST" style="text-align: right">
    <button type="submit">Wyloguj</button>
    </form>

  h1= title
  p
      <input class=btn type='button' value='Dodaj Gościa' onClick=self.location.href=('https://recepcja.herokuapp.com/users/guests/add')>
      
  table
    tr
      th ID
      th IMIE
      th NAZWISKO
      th FIRMA
      th GODZINA WEJŚCIA
      th GODZINA WYJŚCIA
      th DATA
      th NR POKOJU
      th CEL WIZYTY
      th
    each item, index in data
      tr
        td=index+1
        td=item.guestsName
        td=item.guestsSurname 
        td=item.companyName
        td=item.hourOfComing
        td=item.hourOfDeparture
        td=item.dateOfComing.toDateString()
        td=item.visitRoom
        td=item.purpose
        td
          a.id(href=`/users/guests/delete/${item._id}` class="button") Usuń
  