extends ../layout

block content
  h1= title
  p
      <input class=btn type='button' value='Dodaj Gościa' onClick=self.location.href=('http://localhost:3000/users/guests/add')>
      
  table
    tr
      th ID
      th IMIE
      th NAZWISKO
      th FIRMA
      th GODZINA WEJŚCIA
      th GODZINA WYJŚCIA
      th DATA
      th CEL WIZYTY
      th
    each item, index in data
      tr
        td=index+1
        td=item.guestsName
        td=item.guestsSurname 
        td=item.companyName
        td=item.hourOfComing
        td=item.hourOfDeparture
        td=item.dateOfComing.toDateString()
        td=item.purpose
        td
          a(href=`/users/guests/delete/${item._id}` class="button") Usuń
  